<section class="banner" [ngClass]="{active: toggleActive}" id="sec">
  <header>
      <a href="#" class="logo">Juan Camilo Gaspar Arias</a>
      <div id="toggle" (click)="toggle()"></div>
  </header>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
  <ul class="sci">
      <li><a href="#"><img src="assets/facebook.png"></a></li>
      <li><a href="#"><img src="assets/linkedin.png"></a></li>
      <li><a href="#"><img src="assets/twitter.png"></a></li>
  </ul>
</section>
<div id="navigation" [ngClass]="{active: toggleActive}">
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portafolio</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</div>